@import "variables";

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 400;

	opacity: 0;
	pointer-events: none;

	will-change: opacity;

	transition: all .2s ease;

	&.bigBlur {
		opacity: 1;

		@include theme() using ($theme) {
			background-color: rgba(gtv($theme, bgColor), 1) !important;
		}
	}

	&.active {
		opacity: 1;

		@include theme() using ($theme) {
			background-color: rgba(gtv($theme, bgColor), .8);
		}

		pointer-events: inherit;
		transition: none;

		will-change: opacity;

		.inner {
			display: flex;
		}
	}

	::ng-deep img.avatar {
		height: 1em;
	}

	.wrap {
		display: flex;
		justify-content: center;
		width: 100%; /* aspectLimited will override this, but for more narrow sizes, keep it */
		@include aspectLimited();
	}

	.inner {
		display: none;
		flex-direction: column;
		align-items: flex-start;

		width: 60%;
		max-height: calc(100vh - 4px);

		padding: var(--q1);

		@include theme() using ($theme) {
			background: linear-gradient(45deg, rgba(gtv($theme, bgColor), .5), rgba(gtv($theme, bgColor), .75)), center center/cover var(--bg);
			background-color: gtv($theme, bgColor);
			box-shadow: 0 0 0 2px rgba(gtv($theme, fgColor), .5);
		}

		.content, .action p {
			user-select: text;

			::ng-deep * {
				user-select: text;
			}

            ::ng-deep .status-warn {
                color: hsl(53, 100%, 50%);
            }

			&:not(:empty) {
				margin-top: var(--qh);
			}

            &:not(.content) {
                margin-bottom: var(--qh);
            }
		}

		.card {
			flex-grow: 1;

			overflow: auto;

			::ng-deep * {
				user-select: text;
			}

			&:not(:empty) {
				margin-top: var(--q1);
				margin-left: calc(var(--q1) * -1);
				margin-right: calc(var(--q1) * -1);

				width: calc(100% + var(--q2));

				padding: var(--q1);
			}

			@include theme() using ($theme) {
				background-color: rgba(gtv($theme, fgColor), .25);
			}
		}

		.cfx-button {
			margin-top: var(--q1);
		}

        .friendly {
            width: 100%;

            h2:not(:first-of-type) {
                margin-top: var(--q1);
            }

            div:first-of-type {
                .connection {
                    display: grid;
                    grid-template-columns: auto 1fr auto 1fr auto;
                    grid-template-rows: repeat(2, auto);
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    font-weight: 200;

                    padding: var(--qh);

                    &:last-child {
                        border-right: none;
                    }

                    .logo, app-connection-boundary {
                        grid-row: 1;
                    }

                    .text {
                        grid-row: 2;
                    }

                    .cfx {
                        grid-column: 3;
                    }

                    .you {
                        grid-column: 1;
                    }

                    .server {
                        grid-column: 5;
                    }

                    .logo {
                        display: block;
                        flex-grow: initial;
                        position: relative;
                        margin: var(--qh);
                        margin-bottom: 0;
                        padding-top: calc(var(--q4) + var(--qh));
                        background-image: var(--logo);
                        background-size: var(--q4);
                        background-position: top center;
                        background-repeat: no-repeat;
                        width: var(--q8);

                        .ilogo {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            right: 0px;
                            height: var(--q4);
                            text-align: center;

                            svg {
                                fill: currentColor;
                                max-width: var(--q4);
                                height: var(--q4);

                                &.game-gta5 {
                                    transform: scaleX(-1);
                                }
                            }
                        }
                    }

                    .text {
                        text-align: center;

                        span {
                            display: block;
                            font-size: 90%;
                            text-overflow: ellipsis;
                            overflow-x: hidden;

                            @include theme() using ($theme) {
                                color: rgba(gtv($theme, fgColor), .8);
                            }
                        }
                    }
                }
            }
        }
	}
}
